@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.color-picker {
  color: #463123;
}

*::-webkit-scrollbar {
  display: block;
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 9999px;
  padding: 10px;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(70, 49, 35, 0.2);
  border-radius: 9999px;
}

*:hover::-webkit-scrollbar-thumb {
  background: rgb(70, 49, 35, 0.8);
}

.branding-img-container {
  opacity: 0;
}
